<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="./assets/css/style.css">
    <body>
      {{>header}}
      <h1>{{title}}</h1>
      <h3>{{message}}</h3>
      <img src="assets/img/Photo.jpg"/>
      {{>footer}}

    </body>
  </head>
</html>