<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="./assets/css/style.css">
    <body>

      {{>header}}
      <h3>{{name}}</h3>
      <img src="assets/img/Photo.jpg"/>
            {{>footer}}

    </body>
  </head>
</html>