<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>

    <body>
      <div class="main-content">
        {{>header}}
        <h3>{{name}}</h3>
        <img class = "potrait" src="assets/img/Photo.jpg"/> 
      </div>
      
      {{>footer}}

    </body>
</html>