<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="assets/css/style.css">

  </head>

    <body>
      <div class="main-content">
        {{>header}}
        <h3>{{name}}</h3>
        <img class = "potrait" src="assets/img/Photo.jpg"/> 
        <form>
          <input placeholder="Location">
          <button id="submit">Search</button>
        </form>
      </div>
      <p id="mess_1"></p>
      <p id="mess_2"></p>
      {{>footer}}
      <script src="assets/js/app.js"></script>

    </body>
</html>